/target
/.m2
es-cert.der
/bin
/.classpath
/.project
/.settings
/.apt_generated
/.apt_generated_tests
/caches
/local.properties
.*.swp
.DS_Store
/src/main/liberty/config/server.env
/scripts/runLocalWithKafkaIBMCloud.sh
/mc-target
